# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# MacOS
.DS_Store

# (Optional) If you DO NOT want to upload the 18MB model to GitHub, uncomment the next line:
# best_model.h5
